.dcf-container {
  // padding: 3rem 2rem;
  padding: 2.5rem 2rem;

  &.dcf-padding-top-small {
    padding-top: 1.25rem !important;
  }

  @media (min-width: 681px) and (max-width: 992px) {
    padding: 2.5rem 1.75rem;
  }

  @media (max-width: 680px) {
    padding: 1.25rem .75rem;
  }

  .dcf-width-small {
    div {  width: 150px; }
  }
  .dcf-width-medium {
    div { width: 300px; }
  }
  .dcf-width-large {
    div { width: 450px; }
  }
  .dcf-width-xlarge {
    div { width: 600px;}
  }
  .dcf-width-2xlarge {
    div { width: 750px;}
  }

  .dcf-width-auto {
    div {
      width: auto;
    }
  }

  .dcf-width-block {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    div {
     flex: 1;
     min-width: 1px;
    }
  }

  /* Expand */
  .dcf-width-expand {
    @media(min-width: 992px) {
      max-width: 75vw !important;
    }
    padding-right: 1rem;

    padding-left: 1rem;
    div {
      flex: 1;
      min-width: 1px;
    }
  }

  @media (max-width: 768px) {
    ion-col {
      padding: 0px;
    }
  }

  ion-card,
  mat-card {
    margin: .75rem;
  }

  .dcf-grid {
    margin-top: .75rem;
  }
}


::ng-deep .dcf-container {
    h1, h2, h3, h4 {
      color: var(--dcf-color-gray-7);
      margin-bottom: .25rem !important;
      &:first-of-type {
        margin-top: 0px !important;
      }
    + p {
        margin-top: 0px !important;
        margin-bottom: 1.5rem !important;
        color: var(--dcf-color-gray-4);
      }
    }

    ion-card {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    ngx-decaf-model-renderer {
      padding-top: 1rem;
      display: block;
    }
}
